.navigation {
    padding: 2.313rem 0 1.8rem 0;
    // padding: .8rem 0 1.5rem 0;
    background-color: $color-grey!important;

    &__logo {
        font-size: 3.125rem;

        .bis {
            font-weight: 700;
        }

        .lite {
            color: $color-main-dark;
        }
    }

    &__nav {
        margin-right: 2.3rem;

        ul {
            margin-bottom: 0;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        list-style: none;

        @include respond(tab-medium) {
            justify-content: center;
            text-align: center;
        }
    }

    &__item {
        align-self: stretch;
        border-top: .4rem solid transparent;

        &:not(:last-child) {
            margin-right: 2.2rem;

            @include respond(tab-medium) {
                margin-right: 0;
            }
        }
    }

    &__link {
        color: $color-black;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s;
        font-size: 0.78rem;
        font-weight: 700;
        margin-right: .7rem;

        &:hover {
            text-decoration: none;
            color: $color-main-dark;
        }
    }

    &__dropdown-btn {
        font-size: 0.813rem;
        font-weight: 700;
        border-radius: 0px;
        position: relative;
        display: inline-block;
        padding: .2rem .5rem;
        border: none;
        border-top: .4rem solid transparent;
        transition: all .4s ease-in-out;

        &:hover{
            outline: none;
            box-shadow: none;
            background-color: $color-white;
            border-top: .4rem solid $color-main-dark;
            outline: none!important;
            box-shadow: none;
        }
    }

    &__dropdown-menu {
        display: none;
        position: absolute;
        background-color: $color-white;
        min-width: 5rem;
        overflow: hidden;
        border-radius: 0px;
        border-bottom: .313rem solid $color-main-dark;
        border-top: none;
        z-index: 1;

        a {
            padding: .8rem;
            transition: all .3s;

            &:not(:last-child) {
                border-bottom: 1px solid $color-grey;
            }

            &:hover {
                color: $color-main-dark;
                background-color: $color-white;
                transform: translateY(-2px);
            }

            &:active {
                transform: translateY(2px);
            }
        }
    }

    &__dropdown:hover &__dropdown-menu {
        display: block;
    }
}