.heading-tertiary {
  font-size: 0.938rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-heading {
  border-bottom: 2px solid #e8ebf1;
}
.section-heading-title {
  display: flex;
  align-items: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
.section-heading-title i {
  color: #2aacc8;
  font-size: 1.5rem;
  margin-right: 1rem;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.portfolio {
  padding-top: 1.6rem;
}
.portfolio__links {
  padding-top: 1rem;
  border-bottom: 2px solid #e8ebf1;
}
.portfolio__links-list {
  display: flex;
  list-style: none;
}
@media only screen and (max-width: 51.875em) {
  .portfolio__links-list {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 51.875em) {
  .portfolio__links-item {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.portfolio__links-link {
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}
.portfolio__links-link:hover {
  color: #000;
  text-decoration: none;
  background-color: #81e4ed;
}
.portfolio__links .active {
  background-color: #81e4ed;
}
.portfolio__images {
  padding-top: 2.5rem;
  justify-content: space-between;
  border-bottom: 2px solid #e8ebf1;
}
@media only screen and (max-width: 62.5em) {
  .portfolio__images {
    justify-content: space-around;
  }
}
.portfolio__image {
  height: 10rem;
  width: 22%;
  margin-bottom: 2.5rem;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 62.5em) {
  .portfolio__image {
    width: 40%;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .portfolio__image {
    width: 80%;
  }
}
.portfolio__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__image .image-layer {
  position: absolute;
  width: 100%;
  height: 52%;
  top: 48%;
  background-color: #2aacc8;
  justify-content: center;
  align-items: center;
  display: none;
  animation: moveInBottom 0.8s;
}
.portfolio__image .image-layer a {
  color: #fff;
  font-size: 1.8rem;
  animation: moveInBottom 1s;
}
.portfolio__image .image-layer a:not(:last-child) {
  margin-right: 1.8rem;
}
.portfolio__image:hover .image-layer {
  display: flex;
}
.portfolio__pages {
  padding: 1.9rem 0 1.7rem 0;
  justify-content: center;
  align-items: center;
}
.portfolio__pages-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.portfolio__pages-item:not(:last-child) {
  margin-right: 0.4rem;
}
.portfolio__pages-link {
  padding: 0.3rem 0.6rem;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}
.portfolio__pages-link:hover {
  text-decoration: none;
  background-color: #81e4ed;
  color: #000;
}
.portfolio__pages-icon {
  background-color: #e8ebf1;
  color: #81e4ed;
}
.portfolio__pages .active {
  background-color: #81e4ed;
}

/*# sourceMappingURL=portfolio.css.map */
