@import "../base/animations";

// .btn {

// }

.read-more-btn {
    &:link,
    &:visited {
        color: $color-main-dark;
        text-decoration: none;
        transition: all .4s;
    }

    &:hover {
        animation: pulsate 1s infinite;
        text-decoration: none;
        color: $color-black;
    }

    i {
        color: $color-black;
    }
}

.download-btn {
    &:link,
    &:visited {
        background-image: linear-gradient(to bottom, $color-main-light, $color-main-dark);
        padding: 1rem 2rem;
        width: 100%;
        border-radius: 6px;
        text-transform: uppercase;
        color: $color-black!important;
        font-weight: bold;
        border: 1px solid $color-main-dark;
        box-shadow: 0px 5px 5px $color-grey;

        @include respond(phone) {
            padding: .8rem;
        }
    }

    &:hover {
        text-decoration: none;
    }
}

.download-icon {
    color: $color-white;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}