// Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #e8ebf1;
$color-grey-dark: #b4bac5;

$color-main-light: #81e4ed;
$color-main-light-1: #e8fcfe;
$color-main-dark: #2aacc8;
$color-main-dark-2: #4d8a8f;