@import "../base/variables";
@import "../base/typograpgy";
@import "../base/mixins";
@import "../base/animations";

.portfolio {
    padding-top: 1.6rem;

    &__links {
        border-bottom: 2px solid $color-grey;

        &-list {
            display: flex;
            list-style: none;

            @include respond(tab-x-small) {
                justify-content: center;
                flex-wrap: wrap;
            }
        }

        &-item {
            @include respond(tab-x-small) {
                justify-content: center;
                flex-wrap: wrap;
            }
        }

        &-link {
            padding: .4rem 1rem;
            font-size: 0.875rem;
            letter-spacing: 0px;
            text-decoration: none;
            color: $color-black;
            transition: all .2s;

            &:hover {
                color: $color-black;
                text-decoration: none;
                background-color: $color-main-light;
            }
        }

        .active {
            background-color: $color-main-light;
        }
    }

    &__images {
        padding-top: 2.5rem;
        justify-content: space-between;
        border-bottom: 2px solid $color-grey;

        @include respond(tab-medium) {
            justify-content: space-around;
        }
    }

    &__image {
        position: relative;
        height: 0;
        width: 22%;
        padding-top: 16%;
        margin-bottom: 2.5rem;

        @include respond(tab-medium) {
            width: 40%;
            padding-top: 20%;
            margin-bottom: 1rem;
        }

        @include respond(phone) {
            width: 80%;
            padding-top: 50%;
        }

        .image {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            &-1 {
                background: url('../../img/portfolio/img-1.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-2 {
                background: url('../../img/portfolio/img-2.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-3 {
                background: url('../../img/portfolio/img-3.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-4 {
                background: url('../../img/portfolio/img-4.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-5 {
                background: url('../../img/portfolio/img-5.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-6 {
                background: url('../../img/portfolio/img-6.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-7 {
                background: url('../../img/portfolio/img-7.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-8 {
                background: url('../../img/portfolio/img-8.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-9 {
                background: url('../../img/portfolio/img-9.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-10 {
                background: url('../../img/portfolio/img-10.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-11 {
                background: url('../../img/portfolio/img-11.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-12 {
                background: url('../../img/portfolio/img-12.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-13 {
                background: url('../../img/our-works-img-1.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-14 {
                background: url('../../img/our-works-img-2.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-15 {
                background: url('../../img/our-works-img-3.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

            &-16 {
                background: url('../../img/our-works-img-4.jpg') no-repeat;
                background-size: cover;
                background-position: center;
            }

        }

        .image-layer {
            position: absolute;
            width: 100%;
            height: 52%;
            top: 48%;
            background-color: $color-main-dark;
            justify-content: center;
            align-items: center;
            display: none;
            animation: moveInBottom .8s;
            
            a {
                color: $color-white;
                font-size: 1.8rem;
                animation: moveInBottom 1s;

                &:not(:last-child) {
                    margin-right: 1.8rem;
                }
            }
        }

        &:hover .image-layer {
            display: flex;
        }
    }

    &__pages {
        padding: 1.9rem 0 1.7rem 0;
        justify-content: center;
        align-items: center;

        &-list {
            display: flex;
            align-items: center;
            list-style: none;
        }

        &-item {
            &:not(:last-child) {
                margin-right: .4rem;
            }
        }

        &-link {
            padding: .3rem .6rem;
            font-size: 0.875rem;
            letter-spacing: 0px;
            text-decoration: none;
            color: $color-black;
            transition: all .2s;

            &:hover {
                text-decoration: none;
                background-color: $color-main-light;
                color: $color-black;
            }
        }

        &-icon {
            background-color: $color-grey;
            color: $color-main-light;
        }

        .active {
            background-color: $color-main-light;
        }
    }
}